.Order {
    margin: 10px auto;
    margin-bottom: 30px;
    width: 40%;
    text-align: center;
    border: 3px solid rgb(177, 141, 141);
    border-image: linear-gradient(to right, rgb(53, 236, 181), rgb(229, 233, 29)) 10;
    box-shadow: 0 2px 3px 4px #ccc;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    align-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.Order span {
    display: inline-flex;
    width: 80%;
    margin: 0px 6px;
}

span p {
    margin-right: 15px;
    border: 2px solid red;
    border-image: linear-gradient(to right, red, blue) 10;
}